.form-email__confirm-button {
  background-color: #47474C;
  border: none;
  max-width: 221px;
  border-radius: 0 8px 8px 0;
  padding: 13px;
  max-height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 590px) {
  .form-email__confirm-button {
    width: 51px;
  }
}