.quality-assurance__element {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #1C1C1E;
  border-radius: 10px;
  transition: .3s;
}

.quality-assurance__element:hover {
  background-color: #232327;
}