.header {
  margin: $zeroSize;
  padding: 60px 160px;
}

@media screen and (max-width: 990px) {
  .header {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 590px) {
  .header {
    padding: 24px 20px 20px;
  }
}