.support-us__title {
  @include listStilesDelete;
  @include fontStyle(400, 32px, 40px, left);
  color: $fontColorWhite;
  margin-bottom: 90px;
}

@media screen and (max-width: 990px) {
  .support-us__title {
    @include fontStyle(400, 20px, 30px, left);
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 590px) {
  .support-us__title {
    @include fontStyle(400, 12px, 18px, left);
    margin-bottom: 50px;
  }
}