.form-email__confirm-button-text {
  @include fontStyle(400, 14px, 24px, left);
  color: $fontColorWhite;
  letter-spacing: 0.375px;
}

@media screen and (max-width: 690px) {
  .form-email__confirm-button-text {
    @include fontStyle(400, 8px, 24px, left);
  }
}

@media screen and (max-width: 590px) {
  .form-email__confirm-button-text {
    display: none;
  }
}