.grid-images__photo-block_type_two {
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .grid-images__photo-block_type_two {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media screen and (max-width: 590px) {
  .grid-images__photo-block_type_two {
    grid-column-start: auto;
    grid-column-end: auto;
  }
}