.grid-images__color-block_type_two {
  background-color: #25E197;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 100%;
}

@media screen and (max-width: 1280px) {
  .grid-images__color-block_type_two {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}


@media screen and (max-width: 590px) {
  .grid-images__color-block_type_two {
    grid-column-start: auto;
    grid-column-end: auto;
    height: 124px;
  }
}