.quality-assurance__title {
  @include listStilesDelete;
  margin-bottom: 60px;
  @include fontStyle(400, 32px, 40px, left);
  color: $fontColorWhite;
}

@media screen and (max-width: 990px) {
  .quality-assurance__title {
    @include fontStyle(400, 20px, 30px, left);
  }
}

@media screen and (max-width: 590px) {
  .quality-assurance__title {
    @include fontStyle(400, 12px, 18px, left);
    margin-bottom: 40px;
  }
}