@import '../vendor/normalize.css';
@import '../vendor/fonts.css';
.page {
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Roboto", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #000;
  color: #8E8E98;
}

.header {
  margin: 0;
  padding: 60px 160px;
}

@media screen and (max-width: 990px) {
  .header {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 590px) {
  .header {
    padding: 24px 20px 20px;
  }
}
.header__title {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 80px;
  line-height: 70px;
  text-align: left;
  color: #fff;
  padding: 60px 0 230px;
}

@media screen and (max-width: 990px) {
  .header__title {
    padding-top: 70px;
    padding-bottom: 470px;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: left;
  }
}
@media screen and (max-width: 590px) {
  .header__title {
    padding-top: 60px;
    padding-bottom: 260px;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: left;
  }
}
.header__big-title {
  display: block;
  font-size: 112px;
  line-height: 112px;
  margin-bottom: 20px;
}

@media screen and (max-width: 990px) {
  .header__big-title {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 70px;
    line-height: 90px;
    text-align: left;
  }
}
@media screen and (max-width: 590px) {
  .header__big-title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: left;
  }
}
.logo {
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.logo__brand-name {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  margin: 0;
  padding: 0;
}

.logo__box {
  background-color: #25e197;
  width: 99px;
  height: 20px;
  border-radius: 4px;
  display: flex;
}

.logo__box-text {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #000;
  margin: auto;
}

.logo_type_footer {
  margin-bottom: 84px;
}

@media screen and (max-width: 590px) {
  .logo_type_footer {
    margin-bottom: 184px;
  }
}
.form-email__fieldset {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
}

.form-email__input-field {
  font-family: inherit;
  min-height: 50px;
  min-width: 348px;
  background-color: rgba(142, 142, 152, 0.2);
  border-radius: 8px 0 0 8px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  letter-spacing: 0.375px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  padding: 13px 16px;
  box-sizing: border-box;
}

.form-email__input-field:hover {
  background-color: rgba(142, 142, 152, 0.3);
}

.form-email__input-field:focus {
  background-color: rgba(142, 142, 152, 0.3);
  outline: none;
}

@media screen and (max-width: 590px) {
  .form-email__input-field {
    min-width: calc(100% - 51px);
  }
}
@media screen and (max-width: 990px) {
  .form-email__input-field_type_header {
    min-width: calc(100% - 221px);
  }
}
@media screen and (max-width: 590px) {
  .form-email__input-field_type_header {
    min-width: calc(100% - 51px);
  }
}
.form-email__confirm-button {
  background-color: #47474C;
  border: none;
  max-width: 221px;
  border-radius: 0 8px 8px 0;
  padding: 13px;
  max-height: 50px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #fff;
  letter-spacing: 0.375px;
}

@media screen and (max-width: 690px) {
  .form-email__confirm-button {
    font-weight: 400;
    font-size: 8px;
    line-height: 24px;
    text-align: left;
  }
}
@media screen and (max-width: 590px) {
  .form-email__confirm-button {
    width: 51px;
    font-weight: 400;
    font-size: 0;
    line-height: 0;
    text-align: left;
  }
}
.form-email__confirm-button-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #fff;
  letter-spacing: 0.375px;
}

@media screen and (max-width: 690px) {
  .form-email__confirm-button-text {
    font-weight: 400;
    font-size: 8px;
    line-height: 24px;
    text-align: left;
  }
}
@media screen and (max-width: 590px) {
  .form-email__confirm-button-text {
    display: none;
  }
}
.form-email__submit-pic {
  margin-left: 5px;
  vertical-align: middle;
  width: 11px;
}

@media screen and (max-width: 590px) {
  .form-email__submit-pic {
    margin: auto;
  }
}
.form-email__description {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 12px 0 0 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #47474c;
}

@media screen and (max-width: 590px) {
  .form-email__description {
    margin-left: 0;
  }
}
.form-email__description_type_footer {
  margin-left: 0;
}

.grid-images {
  padding: 60px 30px;
  display: grid;
  grid-template-columns: minmax(448px, 448px) 1fr minmax(455px, 730px);
  gap: 20px;
}

@media screen and (max-width: 1280px) {
  .grid-images {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(230px, 230px) minmax(344px, 344px);
  }
}
@media screen and (max-width: 590px) {
  .grid-images {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: auto auto;
    padding: 20px;
  }
}
.grid-images__photo-block {
  border-radius: 12px;
  border: none;
  overflow: hidden;
  height: 100%;
}

.grid-images__photo-block_type_one {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .grid-images__photo-block_type_one {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media screen and (max-width: 590px) {
  .grid-images__photo-block_type_one {
    grid-column-start: auto;
    grid-column-end: auto;
  }
}
.grid-images__photo-block_type_two {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .grid-images__photo-block_type_two {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
@media screen and (max-width: 590px) {
  .grid-images__photo-block_type_two {
    grid-column-start: auto;
    grid-column-end: auto;
  }
}
.grid-images__color-block {
  border-radius: 10px;
  border: none;
}

.grid-images__color-block_type_one {
  background-color: #FFD233;
  grid-column-start: 2;
  grid-column-end: 4;
  height: 100%;
}

@media screen and (max-width: 1280px) {
  .grid-images__color-block_type_one {
    grid-column-start: 3;
    grid-column-end: 4;
  }
}
@media screen and (max-width: 590px) {
  .grid-images__color-block_type_one {
    grid-column-start: auto;
    grid-column-end: auto;
    height: 67px;
  }
}
.grid-images__color-block_type_two {
  background-color: #25E197;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 100%;
}

@media screen and (max-width: 1280px) {
  .grid-images__color-block_type_two {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
@media screen and (max-width: 590px) {
  .grid-images__color-block_type_two {
    grid-column-start: auto;
    grid-column-end: auto;
    height: 124px;
  }
}
.about-us {
  padding: 60px 160px;
}

@media screen and (max-width: 990px) {
  .about-us {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (max-width: 590px) {
  .about-us {
    padding: 40px 20px 30px;
  }
}
.about-us__description {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: left;
  color: #8E8E98;
  width: 100%;
}

@media screen and (max-width: 990px) {
  .about-us__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }
}
@media screen and (max-width: 590px) {
  .about-us__description {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
  }
}
.about-us__moto {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: left;
  color: #fff;
}

@media screen and (max-width: 990px) {
  .about-us__moto {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }
}
@media screen and (max-width: 590px) {
  .about-us__moto {
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
  }
}
.top-services {
  padding: 60px 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 550px);
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 990px) {
  .top-services {
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  }
}
@media screen and (max-width: 590px) {
  .top-services {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 40px 20px 30px;
  }
}
.top-services__service {
  display: flex;
  flex-direction: column;
  background-color: #1c1c1e;
  border-radius: 16px;
  padding: 40px;
  transition: 0.3s;
}

.top-services__service:hover {
  background-color: #232327;
}

@media screen and (max-width: 590px) {
  .top-services__service {
    padding: 20px;
  }
}
.top-services__type {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  color: #8E8E98;
}

.top-services__name {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 20px 0 40px;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  text-align: left;
  color: #fff;
}

@media screen and (max-width: 590px) {
  .top-services__name {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 28px;
  }
}
.top-services__description {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: left;
  color: #8E8E98;
}

@media screen and (max-width: 590px) {
  .top-services__description {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
  }
}
.top-services__price {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  color: #25e197;
}

@media screen and (max-width: 590px) {
  .top-services__price {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    margin-top: 100px;
  }
}
.quality-assurance {
  padding: 60px 160px;
}

@media screen and (max-width: 990px) {
  .quality-assurance {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (max-width: 590px) {
  .quality-assurance {
    padding: 40px 20px 30px;
  }
}
.quality-assurance__title {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: left;
  color: #fff;
}

@media screen and (max-width: 990px) {
  .quality-assurance__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }
}
@media screen and (max-width: 590px) {
  .quality-assurance__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    margin-bottom: 40px;
  }
}
.quality-assurance__service-list {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 265px);
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  .quality-assurance__service-list {
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  }
}
.quality-assurance__element {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #1C1C1E;
  border-radius: 10px;
  transition: 0.3s;
  min-height: 153px;
  box-sizing: border-box;
}

.quality-assurance__element:hover {
  background-color: #232327;
}

@media screen and (max-width: 590px) {
  .quality-assurance__element {
    min-height: 148px;
    box-sizing: border-box;
  }
}
.quality-assurance__element-title {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  color: #eaeaf0;
}

.quality-assurance__element-description {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: left;
  color: #8E8E98;
  margin-top: 38px;
}

@media screen and (max-width: 590px) {
  .quality-assurance__element-description {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    margin-top: 36px;
  }
}
.support-us {
  padding: 60px 160px;
}

@media screen and (max-width: 990px) {
  .support-us {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (max-width: 590px) {
  .support-us {
    padding: 40px 20px 30px;
  }
}
.support-us__title {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: left;
  color: #fff;
  margin-bottom: 90px;
}

@media screen and (max-width: 990px) {
  .support-us__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 590px) {
  .support-us__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    margin-bottom: 50px;
  }
}
.support-us__description {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: left;
  color: #8E8E98;
  margin-top: 50px;
}

@media screen and (max-width: 990px) {
  .support-us__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    margin-top: 40px;
  }
}
@media screen and (max-width: 590px) {
  .support-us__description {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    margin-top: 30px;
  }
}
.help-button {
  padding: 13px 30px;
  min-width: 306px;
  min-height: 50px;
  border: none;
  border-radius: 8px;
  background-color: #47474c;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.375px;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 590px) {
  .help-button {
    min-width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    padding: 16px 28px;
  }
}
.footer {
  padding: 180px 160px 60px;
  position: relative;
}

@media screen and (max-width: 990px) {
  .footer {
    position: static;
    padding-top: 150px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (max-width: 590px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}
.footer__line {
  border: 1px solid #151515;
  width: 100%;
  margin-bottom: 60px;
}

@media screen and (max-width: 590px) {
  .footer__line {
    margin-bottom: 30px;
  }
}
.footer__copyright {
  position: absolute;
  right: 160px;
  bottom: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: #47474c;
}

@media screen and (max-width: 990px) {
  .footer__copyright {
    position: static;
    text-align: left;
    margin-top: 60px;
  }
}
@media screen and (max-width: 590px) {
  .footer__copyright {
    margin-top: 40px;
  }
}/*# sourceMappingURL=index.css.map */