.support-us__help-button {
  padding: 13px 30px;
  min-width: 306px;
  min-height: 50px;
  border: none;
  border-radius: 8px;
  background-color: #47474c;
  @include fontStyle(400, 14px, 24px, center);
  letter-spacing: 0.375px;
  color: $fontColorWhite;
  cursor: pointer;
}

@media screen and (max-width: 590px) {
  .support-us__help-button {
    min-width: 100%;
    @include fontStyle(400, 12px, 18px, center);
    padding: 16px 28px;
  }
}